body {
  margin: 0;
  padding: 0;
  color: #444444;
  font-size: 14px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

a {
  color: #252525;
}

a:visited,
a:focus,
a:visited {
  text-decoration: none;
  color: #252525;
}

ul {
	margin: 0;
  padding: 0;
}

li {
  padding: .6em 0;
  list-style-type: none;
  text-decoration: none;
}

nav > ul {
	float: left;
	margin: 0;
}

nav > ul > li {
	display: inline-block;
}

nav > ul > li > a {
	text-decoration: none;
}

input,
textarea {
	text-indent: 8px;
	display: block;
	width: 100%;
	min-height: 24px;
}

select {
	text-indent: 8px;
	display: block;
	width: 100%;
	min-height: 43px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position: right center;
	background-repeat: no-repeat;
}

input,
.btn,
button.btn,
textarea,
select {
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #dad7d7;
	font-size: 14px;
	font-weight: 500;
	color: #666666;
	margin: .3em 0;
	padding: .6em 0;
	text-decoration: none;
}

input,
textarea,
select {
	margin: .3em 0;
	padding: .6em 0;
}

button {
	color: #666666;
	font-size: 14px;
	font-weight: 500;
	background-color: transparent;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: .2em
}

.btn:hover,
.btn:focus,
.btn:visited {
  text-decoration: none;
}

input[type=submit],
.btn,
button.btn {
	margin: .3em 0;
	padding: .6em 1.2em;
	cursor: pointer;
	display: inline-block;
	min-width: 120px;
	text-align: center;
}

input[type=submit]:focus,
input[type=submit]:hover,
button:focus,
button:hover
.btn {
	background-color: #f2f2f2;
}

.btn.disabled,
button.disabled {
	opacity: .5
}

.btn-add {
	color: #666666;
	font-weight: 600;
	margin: auto;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}

.btn-add:hover,
.btn-add:visited,
.btn-add:focus {
	color: #666666;
}

.btn-add i {
	color: #666666;
	margin: 0 0.2em 0 0
}

.container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

/*******/
/* NAV */
/*******/
nav {
	padding: 1em 0 .2em 0
}

nav::before,
nav::after {
	content: "";
	display: block;
	clear: both;
}

nav ul li {
	padding: .6em;
}

.orderby-control {
	float: right;
}

.orderby-control select {
	width: auto;
	min-width: 120px;
	display: inline;
	margin: 0;
	padding: .3em 0;
	min-height: auto;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}
/*************/
/* [END] NAV */
/*************/

/********/
/* FORM */
/********/
.form-edit {
	padding: .6em .6em 1em .6em;
	border-radius: 6px;
	background-color: #f6f6f6;
	clear: both;
}

form {
	max-width: 600px;
	margin: auto;
}

.form-title {
	margin: .6em 0;
	text-align: center;
}

form > div {
	margin: 0 0 1em 0;
}

form > div > span {
	color: #999999;
	padding: 0 0 0 .6em;
}

form > button {
	float: right;
}

form::before,
form::after {
	content: "";
	display: block;
	clear: both;
}
/**************/
/* [END] FORM */
/**************/

/***************/
/* ITEMS LISTS */
/***************/
.children-list {
	padding: 0.4em;
}

.bordered-top {
	border-top: 1px solid #dad7d7;
	margin: .5em 0 0 0;
	padding: .9em 0 0 0;
}

.bordered {
	border: 1px solid #dad7d7;
}

.items li {
	display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0.8em 0;
}

.item {
  border-radius: 3px;
  padding: 0.6em;
}

.item::before,
.item::after {
	content: "";
	display: block;
	clear: both;
}

.vote-score,
.details,
.controls {
	display: inline-block;
}

.vote-score,
.details {
	float: left;
}

.vote-score {
	display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 .8em 0 0;
}

.vote-score button,
.vote-score span {
	padding: 0;
	margin: 0;
	border: none;
	text-align: center;
	display: block;
}

.vote-score span {
	font-size: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #999999;
}

.vote-score button {
	padding: 0;
	margin: 0;
	opacity: .8;
}

.vote-score button:hover {
	opacity: 1;
}

.details {
	max-width: 88%;
}

.details section,
.details section p {
	margin: .4em 0;
}

.count,
.author {
	font-weight: 500;
	color: #999999;
  font-style: italic;
}

.controls {
	float: right;
	text-align: center;
	display: flex;
}
/*********************/
/* [END] ITEMS LISTS */
/*********************/

/***********/
/* LOADING */
/***********/
.loading-bar {
	position: absolute;
	background-color: gray;
	height: 2px;
}
/*********************/
/* [END] LOADING BAR */
/*********************/

/***********/
/* HELPERS */
/***********/
.block {
	display: block;
}
.text-center {
	text-align: center;
}
/*****************/
/* [END] HELPERS */
/*****************/

/*********/
/* ERROR */
/*********/
.error {
	padding: 2em;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}
/*****************/
/* [END] HELPERS */
/*****************/

/*********/
/* MODAL */
/*********/
.modal {
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	text-align: center;
}
.modal-content {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #ffffff;
	padding: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.modal-content button {
	position: absolute;
	top: 1em;
	right: 1em;
}
.modal-content p {
	font-weight: 500;
	font-size: 18px
}
@media screen and (min-width: 992px) {
  .modal-content {
		top: 30%;
		left: 30%;
		bottom: 30%;
		right: 30%;
		border-radius: 6px;
  }
}
/***************/
/* [END] MODAL */
/***************/
